<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<ul>
    <li>
        <a href="http://localhost:8000/%22%3E">Accueil</a>
      </li>
    </ul>
<ul>
    {% for sword in sword  %}
    <li>
          <a href="{{ path('product_detail', {
        'productId': sword.id
        }) }}">
        {{ sword.id }} - {{ sword.name|upper }}
    </a>
</li>
{% endfor %}
</ul>

</body>
        </html>